<ion-view cache-view="false">
    <ion-nav-buttons class="bar-energized">
        <div class="buttons"><button class="button button-icon button-hmhdark ion-drag" menu-toggle="left">
        </button>
        </div>
        <h1 class="title">Habitat Projects</h1>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div ng-if="projectDetails[0].shortname">
                <ion-item class="item-divider item-inkling icon item-icon-left">
                <i class="icon ion-ios-albums-outline"></i>{{projectDetails[0].shortname}}</ion-item>
                <ion-item class="item-divider item-hmhdark">
                <i class="icon ion-ios-pricetag-outline"></i>
                    Revision: {{projectDetails[0].revision}}, {{projectDetails[0].initiator}}
                </ion-item>
                <div class="item" >
                    <button class="button button-block button-positive item-inkling" ng-click="build()">Build New Epub</button>
                </div>
            </div>

            <ion-item ng-repeat="project in projectDetails" ng-click="setIndex($index)" href="#/app/projects/project" class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-pricetags-outline"></i>
                <p>Revision: {{project.revision}}</p>
                <i class="icon ion-ios-arrow-thin-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>