<ion-view cache-view="false">
    <ion-nav-title class="title">Project Name</ion-nav-title>
<ion-nav-bar class="bar-hmhorange">
  <ion-nav-back-button class="button-icon button-clear ion-ios-arrow-left">
      </ion-nav-back-button>
    <div class="buttons">
            <a href="#/app/projects" class="button icon button-icon">Home</a>
        </div>
</ion-nav-bar>
<ion-content>
        
        <div class="list card">

            <div href="#" class="item">
            <i class="ion-ios-person-outline"></i>
            {{projectDetails[indexNumber].initiator}}
            </div>

            <div href="#" class="item">
            <i class="ion-ios-pricetags-outline"></i>
            Revision: {{projectDetails[indexNumber].revision}}
            </div>
            
            <div href="#" class="item">
            <i class="ion-ios-time-outline"></i>
            {{projectDetails[indexNumber].dateCreated}}
            </div>

            <div href="#" class="item">
                <a href="{{projectDetails[indexNumber].URL}}" class="button button-block item-inkling" download>
                    <i class="ion-ios-download-outline"></i>
                    Download ePub
                </a>
            </div>
            
            <div ng-controller="DownloadCtrl" class="item">
                <a ng-init="file=projectDetails[indexNumber].URL;revision=projectDetails[indexNumber].revision" class="button button-block item-inkling" ng-click="download(file, revision)">
                <i class="ion-ios-download-outline"></i>
                Download Zip
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
